body {
  background-color: #252525;
}

@font-face {
  font-family: 'ChewyBubble';
  src: url('../public//font//ChewyBubble-owJJB.ttf') format('truetype');
}

h1 {
  font-family: 'ChewyBubble', sans-serif;
  color: pink;
}

button {
  font-family: 'ChewyBubble', sans-serif;
}
